.App {
  text-align: center;
  width: 800px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}

@media (max-width: 800px) {
  .App {
    width: 500px;
  }
}
/* write your parent styles in here for your App.js */

